$banner-shadow: 15px 15px 50px rgba(0, 0, 0, 0.1);
$banner-bg: white;
$banner-border: 2px solid currentColor;
$banner-mobile-padding: 20px;
$banner-padding: 20px;
$button-height: 50px;
$button-radius: 30px;
$button-font-size: 14px;
$button-padding: 0 20px;

/* ===========================================================================
Cookie banner
=========================================================================== */

.cookie-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  border-top: $banner-border;
  background: $banner-bg;
  box-shadow: $banner-shadow;
  padding: $banner-mobile-padding;
  transition: 0.3s;

  @media screen and (min-width: 768px) {
    padding: $banner-padding;
  }

  /*
    Text
    ===================================== */

  &-text {
    font-weight: bold;
    margin: 0 0 20px;
  }

  /*
    Button
    ===================================== */

  &-buttons-wrapper {
    display: flex;
  }

  &-button {
    display: flex;
    align-items: center;
    position: relative;
    padding: $button-padding;
    margin: 0;
    height: $button-height;
    border-radius: $button-radius;
    text-decoration: none;
    background: currentColor;
    font-weight: bold;
    font-size: $button-font-size;
    border: 0;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    span {
      color: white;
    }
  }
}
